<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by Dynatrace Client 6.5.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.AWSApplicationLoadBalancer" name="AWS Application Load Balancer Plugin">
    <information>
      <category value="" />
      <displayname value="AWS Application Load Balancer Plugin" />
      <description value="Aws Application Load Balancer Plugin usinig cloudwatch&#x9;&#x9;" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="accessKey" label="AccessKey" type="string" description="My property description ..." default="" multiline="false" />
      <property key="secretAccessKey" label="SecretAccessKey" type="password" description="My property description ..." default="" />
      <property key="loadBalancerName" label="LoadBalancer Name" type="string" description="My property description ..." default="" multiline="false" />
      <property key="region" label="Region" type="string" description="My property description ..." default="" multiline="false" />
      <property key="granularity" label="Granularity" type="list" description="My property description ..." default="1 Minute">
        <list>
          <item value="1 Minute" />
          <item value="5 Minute" />
          <item value="10 Minute" />
          <item value="15 Minute" />
          <item value="30 Minute" />
          <item value="60 Minute" />
        </list>
      </property>
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="com.dynatrace.AWSApplicationLoadBalancer.monitor" name="AWS Application Load Balancer Plugin">
    <plugin configid="com.dynatrace.AWSApplicationLoadBalancer" class="com.dynatrace.AWSApplicationLoadBalancer.ELBMonitor" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.AWSApplicationLoadBalancer.monitor.metricgroup1" name="AWS Application Load Balancer Metrics">
    <metricgroup monitorid="com.dynatrace.AWSApplicationLoadBalancer.monitor">
      <metric defaultrate="purepath" name="ActiveConnectionCount" unit="number" description="&#x9;&#xA;The total number of concurrent TCP connections active from clients to the load balancer and from the load balancer to targets.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="ClientTLSNegotiationErrorCount" unit="number" description="&#x9;&#xA;The number of TLS connections initiated by the client that did not establish a session with the load balancer. Possible causes include a mismatch of ciphers or protocols.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="HealthyHostCount" unit="number" description="The number of targets that are considered healthy.&#xA;&#xA;Statistics: The most useful statistics are Average and Maximum." />
      <metric defaultrate="purepath" name="HTTPCode_ELB_4XX_Count" unit="number" description="The number of HTTP 4XX client error codes that originate from the load balancer. Client errors are generated when requests are malformed or incomplete. These requests have not been received by the target. This count does not include any response codes generated by the targets.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="HTTPCode_ELB_5XX_Count" unit="number" description="The number of HTTP 5XX server error codes that originate from the load balancer. This count does not include any response codes generated by the targets.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="HTTPCode_Target_2XX_Count" unit="number" description="The number of HTTP response codes generated by the targets. This does not include any response codes generated by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="HTTPCode_Target_3XX_Count" unit="number" description="The number of HTTP response codes generated by the targets. This does not include any response codes generated by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="HTTPCode_Target_4XX_Count" unit="number" description="The number of HTTP response codes generated by the targets. This does not include any response codes generated by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="HTTPCode_Target_5XX_Count" unit="number" description="The number of HTTP response codes generated by the targets. This does not include any response codes generated by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="NewConnectionCount" unit="number" description="The total number of new TCP connections established from clients to the load balancer and from the load balancer to targets.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="ProcessedBytes" unit="number" description="The total number of bytes processed by the load balancer." />
      <metric defaultrate="purepath" name="RejectedConnectionCount" unit="number" description="The number of connections that were rejected because the load balancer had reached its maximum number of connections.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="RequestCount" unit="number" description="The number of requests received by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
      <metric defaultrate="purepath" name="TargetConnectionErrorCount" unit="number" description="The number of connections that were not successfully established between the load balancer and target.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="TargetResponseTime" unit="number" description="The time elapsed, in seconds, after the request leaves the load balancer until a response from the target is received. This is equivalent to the target_processing_time field in the access logs.&#xA;&#xA;Statistics: The most useful statistics are Average and pNN.NN (percentiles)." />
      <metric defaultrate="purepath" name="TargetTLSNegotiationErrorCount" unit="number" description="The number of TLS connections initiated by the load balancer that did not establish a session with the target. Possible causes include a mismatch of ciphers or protocols.&#xA;&#xA;Statistics: The most useful statistic is Sum." />
      <metric defaultrate="purepath" name="UnHealthyHostCount" unit="number" description="The number of targets that are considered unhealthy.&#xA;&#xA;Statistics: The most useful statistics are Average and Minimum." />
      <metric defaultrate="purepath" name="IPv6ProcessedBytes" unit="bytes" description="The total number of bytes processed by the load balancer over IPv6." />
      <metric defaultrate="purepath" name="IPv6RequestCount" unit="number" description="The number of IPv6 requests received by the load balancer.&#xA;&#xA;Statistics: The most useful statistic is Sum. Note that Minimum, Maximum, and Average all return 1." />
    </metricgroup>
  </extension>
</plugin>
